/* Fonts */
@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/josefinsans/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/josefinsans/JosefinSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Average-Regular';
    src: url('../fonts/average/Average-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FjallaOne-Regular';
    src: url('../fonts/fjallaone/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Playfair', serif;
    font-size: 1.7rem;
    border-top: solid 0.2rem #cccccc;
}

h1 {
    font-family: 'FjallaOne-Regular', serif;
    font-weight: bold;
    font-size: 5rem;
    color: #444444;
}

h2 {
    font-family: 'FjallaOne-Regular', serif;
    font-weight: bold;
    font-style: italic;
}

h3 {
    font-family: 'FjallaOne-Regular', serif;
    font-weight: normal;
    font-style: normal;
    color: #121212;
}

h4 {
    font-family: 'FjallaOne-Regular', serif;
    font-weight: normal;
    font-style: normal;
    color: #999999;
}

h5 {
    font-family: 'JosefinSans-Light', serif;
    font-weight: normal;
    font-style: normal;
}

a, a:hover {
    text-decoration: none;
}

.navbar > .container-fluid {
    margin-top: 0px;
}

.navbar-default {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    border-color: transparent;
    -webkit-box-shadow: none;
}

.navbar-toggle {
    border-radius: 0px;
}

/* Navbar brand styling and color */
.navbar-brand{
    text-shadow: 0 0 0 rgba(255,255,255,.25);
}

.navbar-default .navbar-brand {
    font-family: 'JosefinSans', serif;
    font-size: 2.3rem;
    color: #000000;
}

.navbar-brandLink {
    color: #000000 !important;
}

.navbar-default .navbar-brand:hover {
    color: #D6D2C4;
}

.navbar-default .navbar-brand > span {
    color: #D4AF37;
}

/* Navbar links - on the right */
.navbar-default .navbar-nav>li>a {
    color: #005F86;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #D6D2C4;
}

.activeLink {
    color: #382F2D !important;
}


/* Home page styling */
.homeOverlay {
    position:absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,.5);
    width:100%;
    height:100%;
}

.homeStyle > h1 {
    font-size: 6rem;
    color: #43695B;
}

.homeStyle > h2 {
    font-size: 4rem;
    color: #003300;
}

.homeStyle > p {
    font-size: 2.5rem;
}

.homeStyle {
    text-align: center;
}

.btn {
    border-radius: 0px;
}

.btn-about {
    background-color: #BF5700;
    font-family: 'Playfair', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #ffffff;
    padding: .5rem 2rem;
    margin-top: 1rem;
}

.btn-about > span {
    font-size: 1rem;
    vertical-align: middle;
    padding-bottom: 4px;
}

.btn-about:hover {
    background-color: #994600;
    color: #ffffff;
}

.shade-overlay {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.shade-overlay > img {
    padding: 5px;
    border: solid 1px #cccccc;
    position: relative;
    width: 200px;
    height: 200px;
}

.shade-overlay:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.6);
    border: solid 1px #005F86;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: 1000;
    text-align: center;
    margin-top: 3rem;
    color: #fff;
}

.shade-overlay:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.imgTitle {
    font-size: 24px;
    font-style: normal;
    font-family: 'FjallaOne-Regular', serif;
}

.imgCaption {
    font-size: 14px;
    font-style: italic;
}



/* Portfolio - for projects with static pages/screenshots */
.screenshot  > a > img {
    padding: 5px;
    border: solid 1px #cccccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.screenshot  > a > img:hover {
    border: solid 1px #005F86;
}

/* Blog styling - user dashboard and search box */
#userDashBoard {
    width:100%;
    background-color: #eeeeee;
    color:inherit;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    background-image: url('/img/congruent_pentagon.png');
    background-repeat: repeat;
}

#searchBox {
    margin-top: 1rem;
    margin-bottom: 3rem;
}


/* Everything side spacing for mobile first views */
.header, .marketing, .footer {
    padding-right: 20px;
    padding-left: 20px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    color: #777;
    border-top: 0.2rem solid #cccccc;
    width: 100%;
    background-color: #D6D2C4;
    position: relative;
    height: 60px;
}

#footer-adjustment {
    margin-top: 10px;
    margin-bottom: -55px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

/* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-right: 30px;
        padding-left: 30px;
    }

    /* This spaces out the masthead */
    .header {
        margin-bottom: 30px;
    }

    #headshot {
        float: right;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    .homeStyle {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .activeNav {
        border-bottom: solid 1px #382F2D;
    }

    .hoverNav {
        color: #D6D2C4;
        border-bottom: solid 1px #D6D2C4;
    }

    .linkNav {
        border-bottom: solid 1px transparent;
        padding-bottom: 1px;
    }

    .portfolioImages {
        display: inline-block;
    }

    .portfolioImages > a > img {
        height: 200px;
        width: 200px;
    }

    .portfolioImages a:nth-child(3n+2) {
        margin-right:1.5rem;
        margin-left:1.5rem;
    }

}

/* Responsive for cell phones */
@media (max-width: 767px) {
    #headshot {
        display: block;
        margin: 0 auto;
    }

    .homeStyle {
        margin-top: 3rem;
        margin-bottom: 3rem;  
    }

    .navbar-default .navbar-nav>li:last-child {
        border-bottom: solid 1px #dddddd;
    }
    
    .portfolioImages a {
        text-align: center;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .portfolioImages > a > img {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (min-width: 481px) {

    #bottom-footer {
       bottom:0; 
       position:absolute;
    }

}