@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/josefinsans/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
  font-family: 'Average-Regular';
    src: url('../fonts/average/Average-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FjallaOne-Regular';
    src: url('../fonts/fjallaone/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Playfair', serif;
  /*background: url(/img/background.jpg) top left no-repeat;
  background-attachment:fixed;*/
}

h1 {
  font-family: 'FjallaOne-Regular', serif;
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-family: 'FjallaOne-Regular', serif;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-family: 'FjallaOne-Regular', serif;
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-family: 'FjallaOne-Regular', serif;
  font-weight: normal;
  font-style: normal;
  color: #999999;
}

h5 {
  font-family: 'FjallaOne-Regular', serif;
  font-weight: normal;
  font-style: normal;
}

a:link, a:hover {
    text-decoration: none;
}

.navbar > .container-fluid {
  margin-top: 0px;
}

.navbar-default .navbar-brand {
  font-family: 'JosefinSans', serif;
  font-size: 2.3rem;
  color: #CC3399;
}

#userDashBoard {
    width:100%;
    background-color: #eeeeee;
    border-radius: 6px;
    color:inherit;
    padding: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #FFFFA3, #DD874D
    );
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 20px;
  padding-left: 20px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
