/* For Where's Waldo game */

@font-face {
    font-family: 'MixStriped';
    src: url(/fonts/mixstriped/MixStriped.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrushHandNew';
    src: url('../fonts/brush_hand_new/BrushHandNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/josefinsans/JosefinSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}


#start {
	font-family: 'JosefinSans-Light', sans-serif;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: lighter;
	color: #ffffff;
	margin-left: 170px;
	margin-right: 170px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 1rem;
	text-align: center;
	display: block;
	background-color: #30AC59;
}

#start:hover {
	background-color: #268A47;
}

#instructions {
	width: 430px;
	margin-left: 10px;
	padding: 1rem;
	text-align: center;
	background-color: rgba(255,255,255,.7)
}

#instructions > h2  {
	font-family: 'MixStriped', sans-serif;
	font-size: 4rem;
	font-style: normal;
	color: #8F0000;
}

#instructions > p  {
	font-family: 'BrushHandNew', sans-serif;
	font-size: 2.5rem;
	color: #121212;
}

#instructions > p > #timer, #instructions > p > #counter  {
	color: #525252;
}

#gameBackground {
	background-image: url("/img/waldo-beach-sm.png");
	background-repeat: no-repeat;
	background-position: relative;
	height: 730px;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	margin-left: 15px;
}

#gameboard {
	width: 365px;
	height: 380px;
	margin-top: 90px;
	margin-left: 15px;

}

.square {
	width: 120px;
	height: 125px;
	margin: 0;
	float: left;
}


.active {
	background-image: url("/img/waldo-actionfigure.png");
	background-repeat: no-repeat;
	background-position: top;
}

#container {
	margin: 0 auto;
	width: 60%;
}

